.information {
    position: relative;
    width: 100%;
    height: 1400px;
    overflow: hidden;
    color: white;
    text-align: center;
}

.information-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.5) blur(5px);
    z-index: 0;
}

.information-content {
    position: relative;
    z-index: 1;
    padding: 0rem 1rem;
    max-width: 768px;         /* 최대 너비 제한 */
    margin: 0 auto;           /* 가운데 정렬 */
    text-align: center;       /* (옵션) 텍스트 정렬 */

}
.addressImage {
    /*background-image: url('../assets/홍대플렉스지도.png');*/
    /*height: 150px; !* 고정 높이 *!*/
    /*width: 100%;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*border-radius: 12px;*/
    /*margin-top: 1rem;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.4);*/
}

.reservation-text {
    text-align: left;
}

.map-thumbnail {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px; /* 예쁘게 */
}

